/* ========== HOMEPAGE ========== */

.homeWeb {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 70px;
}

.portfolio{
  padding-top: 50px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.project {
  border-top: 3px solid;
  padding-top: 40px;
  padding-bottom: 40px;
}

.projectScreenshot {
  width: 80%;
}

.projectDescription {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



/* ===== main styles ===== */

body {
  margin: 0;
  background-color: #f7f6ee;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-bottom: 200px;
}
a {
  text-decoration: none;
}

h1 {
  font-size: 70px;
  color: #232323;
  text-align: center;
  margin: 10px;
}
h2 {
  text-align: center;
}

h3,
h4,
p,
ul {
  font-family: "Roboto", sans-serif;
}

ul {
  width: 40px;
  padding: 0 60px 0 0;
  margin: auto;
}

/* ========== Hover states ========== */
/* .on-hover-40,
.on-hover--40 {
  transition: all 0.4s cubic-bezier(0.2, 0.6, 0.2, 1);
}
.on-hover-40:hover {
  margin-left: 40px;
  transition: all 0.4s cubic-bezier(0.2, 0.6, 0.2, 1);
}
.on-hover--40:hover {
  margin-left: -40px;
  transition: all 0.4s cubic-bezier(0.2, 0.6, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .on-hover-40:hover {
    margin-left: 0px;
  }
  .on-hover--40:hover {
    margin-left: 0px;
  }
} */

/* ========== Animations ========== */

/* .animate {
  -webkit-animation: animate 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  -moz-animation: animate 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  animation: animate 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
} */

/* @-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(30vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
} */

/* ========== classes ========== */

.indent {
  text-indent: 40px;
}

.border-top {
  border-top: 3px solid;
}

.center {
  text-align: center;
}

.hideTextblock {
  position: relative;
  display: block;
  overflow: hidden;
}

.block-image-overflow {
  width: 100%;
  overflow: hidden;
}

.hide {
  display: none;
}

.verticalCenter {
  height: 100%;
  align-items: center;
}

.fontColor1 {
  color: #232323;
}
.fontColor2 {
  color: #7180b9;
}

.title {
  font-size: 200px;
  text-align: left;
}

.aboutText {
  width: 600px;
  margin: auto;
  text-align: left;
  font-size: 20px;
  line-height: 1.8em;
  padding-top: 30px;
}

.contactText {
  font-size: 20px;
}

.myPhoto {
  border-radius: 5%;
  height: 500px;
  width: auto;
}

.homeLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: flex-start;
  margin-top: 10px;
}

.homeLink {
  align-self: center;
  font-size: 30px;
  color: #232323;
}

.homeLink:hover{
  color: #7180b9;
}

.homeContactLinks {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
}

.homeContactLink{
  width: fit-content;
}

.homeContactLink:hover{
  color: #7180b9;
}

@media screen and (max-width: 400) {
  .title {
    font-size: 70px;
    padding-bottom: 60px;
  }
  .aboutTitle {
    font-size: 180px;
  }
  .contactTitle {
    font-size: 140px;
  }
  .projects {
    width: 100%;
  }
  .projectDescription {
    font-size: 19px;
  }
  .aboutText {
    padding: 0px 35px 0px 0px;
    font-size: 40px;
  }
  .homeLinks {
    margin-left: 150px;
  }
  .wide {
    width: 100%;
  }
}

/* ===== article sections =====*/

#home,
#portfolio,
#contact,
#about {
  text-align: center;
  max-width: 68%;
  margin: auto;
}

@media screen and (max-width: 767px) {
  #home,
  #portfolio,
  #contact,
  #about {
    padding: 50px;
  }
}

/* ===== links ===== */

a {
  font-family: "Roboto", sans-serif;
  color: #7180b9;
}

.projectLinks {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

button {
  font-size: 18px;
  width: 130px;
  height: 28px;
  margin: 10px;
  color: #232323;
  background-color: #e5e5fcac;
  border: 1px solid #454545;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
}

/* ====== Logo ====== */
.logo {
  float: right;
}
.logo-inner {
  position: fixed;
  top: 10%;
  z-index: 999;
}
@media screen and (max-width: 767px) {
  .logo-inner {
    top: 5%;
    left: 70%;
  }
}
.label-logo:after {
  content: "conor";
  font-weight: lighter;
}
.label-logo:hover:after {
  content: "home";
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .label-logo:hover:after {
    content: "conor";
  }
}
.label-logo {
  -webkit-animation: fadelogo 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  -moz-animation: fadelogo 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  animation: fadelogo 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  font-size: 40px;
  stroke: none;
}
@-webkit-keyframes fadelogo {
  0% {
    -webkit-transform: translateY(10vh);
  }
  100% {
    -webkit-transform: translateY(0vh);
  }
}
@keyframes fadelogo {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0vh);
  }
}

/* ========== MOBILE HOMEPAGE ========== */

@media screen and (min-width: 400px) {
  .hideMobile {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hideMobile {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .myPhoto{
    height: 350px;
    margin: auto;
  }
}


@media screen 
and (max-width: 767px)
and (max-width: 400px) {
  h1 {
    margin: 0;
  }
  .homeMobile{
    padding-top: 40px;
  }
  .myPhoto {
    border-radius: 50%;
    height: auto;
    width: 300px;
    padding: 20px 40px 0 40px;
  }
  .homeContactLinks{
    text-align: center;
  }
  .homeContactLink{
    font-size:20px;
  }
  .hideWeb {
    display: none;
  }
  .toggle-mobile-second {
    display: none;
  }
  .mobile-tap-area {
    background: transparent;
    position: absolute;
    width: 150%;
    height: 150%;
  }
}

/* ========== IPHONE 6/7/8 PLUS ========== */

@media screen 
and (max-height: 750px)
and (max-width: 400px) {
  .homeMobile{
    padding-top: 20px;
    text-align: center;
  }
  .myPhoto{
    width: 250px;
    margin:auto;
  }
}

/* ========== IPHONE 6/7/8 ========== */
@media screen 
and (max-height: 700px)
and (max-width: 400px)
 {
  .homeMobile{
    padding-top: 15px;
    text-align: center;
  }
  .myPhoto{
    width: 200px;
    margin:auto;
  }
}

/*	========== ABOUT AND CONTACT ==========*/

.links {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  margin: auto;
  padding: 20px;
  line-height: 50px;
}

@media screen and (max-width: 767px) {
  .links {
    width: auto;
    text-align: center;
  }
}

/* ====== Copy email to clipboard ====== */
.label-email {
  cursor: pointer;
}
.label-email:after {
  content: "conorkenahan@gmail.com";
}
.label-email:hover:after {
  content: "Copy to clipboard";
}
.label-email:hover:active:after {
  content: "Email copied";
}
@media screen and (max-width: 767px) {
  .label-email:hover:after {
    content: "Copied to clipboard";
  }
}
