@font-face {
  font-family: 'Trade Gothic';
  src: url("../fonts/trade-gothic-cold-condensed.ttf") format("opentype"); }

@font-face {
  font-family: 'Nitti';
  src: url("../fonts/Nitti-Normal.ttf") format("opentype"); }

/* ========== HOMEPAGE ========== */
.mobile-image {
  display: none; }

.content {
  position: absolute;
  width: 60%;
  margin-right: 0;
  right: 0;
  top: 0;
  color: #4d4d4d !important;
  font-family: "Trade Gothic", "Amalta", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: rgba(228, 224, 224, 0.664); }

.header {
  margin: auto;
  text-align: center;
  width: 90%;
  padding-bottom: 20px; }

.header-links {
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(127, 127, 127, 0.25);
  color: #4d4d4d !important;
  -webkit-font-smoothing: antialiased; }
  .header-links h3 {
    margin: 10px;
    cursor: pointer; }

.header-option {
  margin: 0; }

.header-link {
  font-family: 'Nitti';
  text-transform: uppercase; }

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 50px; }
  .sections .section.footer {
    display: flex;
    flex-direction: column;
    padding: 0; }
    .sections .section.footer .footer-links {
      width: 100%;
      margin: auto;
      justify-content: space-evenly;
      padding-top: 10px;
      padding-bottom: 28px; }
      .sections .section.footer .footer-links a {
        text-transform: uppercase; }

.section {
  display: flex;
  padding-bottom: 50px;
  margin-bottom: 50px;
  width: 100%;
  border-bottom: 1px solid rgba(127, 127, 127, 0.25); }

.album-artist {
  margin: auto;
  font-size: 40px;
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(127, 127, 127, 0.25);
  color: #4d4d4d !important;
  -webkit-font-smoothing: antialiased; }

.contact-content {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-evenly;
  align-items: center; }

.album {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .album img {
    display: block; }
  .album .bandcamp-album-embed {
    border: 0;
    width: 501px;
    height: 42px; }

.album-img {
  width: 100%;
  height: auto; }

a {
  color: #4d4d4d !important;
  -webkit-font-smoothing: antialiased;
  text-decoration: none; }

.bandcamp-follow-embed {
  width: 100%; }

marquee {
  font-size: 10px;
  margin-top: -30px;
  margin-bottom: 20px; }

.coming-soon {
  padding-top: 10px; }

/* ===== main styles ===== */
html {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  height: 100%;
  background: url("../images/background-gif-desktop.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

h1 {
  color: #4d4d4d !important;
  -webkit-font-smoothing: antialiased; }

/* MOBILE */
@media (max-width: 900px) {
  html {
    background: none; }
  body {
    margin: 0;
    display: flex;
    flex-direction: column; }
  .mobile-image {
    display: block;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw; }
    .mobile-image img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%; }
  .content {
    position: relative;
    width: 100%; }
  .header {
    margin: auto;
    flex-direction: column; }
    .header .header-links {
      padding-bottom: 10px; }
    .header h3 {
      margin: 0; }
  .album-artist {
    margin: auto;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 30px; }
  .album {
    width: 100%; }
    .album .bandcamp-album-embed {
      width: 100.5%; }
  .sections {
    margin-top: 35px; }
    .sections .section.footer .footer-links {
      padding-bottom: 0;
      display: flex; } }

@media (max-width: 460px) {
  h3 {
    font-size: 13px; } }

@keyframes fadeInAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
